<?xml version="1.0"?>
<GlobalSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CalFilePathName>C:\Monty HIT Work\Src\TruePosition.Test\Sets\consolestep.xml</CalFilePathName>
  <StepTimeoutSecs>12</StepTimeoutSecs>
  <StepContinueOnError>true</StepContinueOnError>
  <StepNumberRetries>3</StepNumberRetries>
  <LogFileFolder>C:\DeanHITLogs</LogFileFolder>
  <MapExePathName>C:\map 13 0\mapr13.0BL052.exe</MapExePathName>
  <MapConfigName>HITTest</MapConfigName>
  <MapFolderPath>C:\DeanTestTmp</MapFolderPath>
  <SMLC1>192.168.173.107</SMLC1>
  <SMLC1Port>2222</SMLC1Port>
  <SMLC2>192.168.173.107</SMLC2>
  <SMLC2Port>2222</SMLC2Port>
  <SMLCVirtual>192.168.173.109</SMLCVirtual>
  <SMLCVirtualPort>2222</SMLCVirtualPort>
  <LMU1_ID>64.2.1.37</LMU1_ID>
  <LMU2_ID>64.2.1.38</LMU2_ID>
  <LMU3_ID>64.2.1.39</LMU3_ID>
  <LMU4_ID>64.2.1.40</LMU4_ID>
</GlobalSettings>