<?xml version="1.0"?>
<WindowsProcess xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Name>LaunchTest</Name>
  <PreLaunchDelay>0</PreLaunchDelay>
  <PostLaunchDelay>0</PostLaunchDelay>
  <LaunchRetries>0</LaunchRetries>
  <LaunchTimeout>5000</LaunchTimeout>
</WindowsProcess>