<?xml version="1.0"?>
<TelnetPort xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" InputTrailer=":" OutputTrailer="&#xA;">
  <Name>SMLC1</Name>
  <ReceiveTimeout>5000</ReceiveTimeout>
  <TransmitRetries>1</TransmitRetries>
  <HostName>192.168.173.109</HostName>
  <Port>2222</Port>
</TelnetPort>